.input_container {
  position: relative;
}

.input_container input {
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  width: 350px;
  transition: 0.25s;
}

.input_container input:focus {
  box-shadow: 2px 2px 4px -2px #007bff, inset 0 0 2px #007bff;
  outline: none;
}

.input_container input:hover {
  box-shadow: 2px 2px 4px -2px #2ecc71, inset 0 0 2px #2ecc71;
  outline: none;
}

.input_container label {
  position: absolute;
  top: -20px;
  left: 10px;
  font-size: 14px;
  color: #666;
}

.input_container input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 12px;
  color: #666;
}

.input_container input:focus + label,
.input_container input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
  transition: 0.2s ease-in-out;
}
