:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 18, 18, 18;

  --theme: dark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  color-scheme: var(--theme);
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}
